* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
    background-color: #3FA66B;
}

h1 {
  /* 1. El título superior tiene una línea de 5px negra */
  border-bottom: 5px solid black;
  margin-bottom: 20px;
  text-align: center;
  background-color: #220878;
}

img {
  /* 2. Imagen alineada a la derecha */
  /* 3. Con separación a la derecha de 60px */
  margin: 0 60px 20px auto;
  display: block;    /* Hace que la imagen ocupe toda la línea */
  margin-bottom: 20px; /* Separación del texto */
}

ul {
  list-style: none;

}

li {
  margin-bottom: 10px;

}

p {
  /* 9. Sangría de 40px en la primera línea */
  text-indent: 40px;

  /* 10. Párrafos ocupan el 90% de la ventana */
  width: 90%;

  /* 11. Separación interna de 10px */
  padding: 10px;

  /* 5. Sombra en los tres párrafos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  margin-bottom: 15px;

}

#header {}

#content {}

#text {}

#text p {
  background-color: #0F5F5C;
 width: 90%;            /* ancho 90% */
    
}

#text p:first-child {
  /* 4. Primer párrafo: esquinas superiores redondeadas + fondo repetido */
  border-radius: 30px 30px 0 0;
  /* 12. Fondo repetido */
  background: url("../images/fondoParrafo.png") repeat;
}

#text p:last-child {
  /* 8. Último párrafo: esquinas inferiores redondeadas */
  border-radius: 0 0 30px 30px;

}

#menu {}

#menu a {
  color: black;
  text-decoration: none;
}


#menu li {
  /* 7. Menú con línea roja a la izquierda */
  border-left: 5px solid red;
  padding-left: 10px;
  margin-bottom: 10px;
}

#menu li a:hover {
  color: red;
  text-decoration: underline; /* subrayado al pasar el ratón */
}

#footer {
  /* 6. Pie de página con línea superior negra de 5px */
  border-top: 5px solid black;
  margin-top: 30px;
  padding: 10px;

}

#footer a {
  text-decoration: none;
  color: black;
}

#footer a:hover {
  color: red;

}

#image {}

@media all and (max-width: 500px) {
}
